Header{
    position:fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 35px;
    background: transparent;
    transition: all ease .5s;
}
header.black{
    background-color: rgba(14, 14, 14, 0.9);
}
.header--list{
    align-items: initial;
}
header li{
    display: inline-block;
    margin: 0 10px;
}
header a{
    text-decoration: none;
    color: #fff;
}
header a:hover{
    color: slateblue;
    transition: all ease .2s;
}
.header--logo{
    height: 30px;
    
}
.header--logo img{
    height: 100%;
}
.header--user{
    height: 35px;
}
.header--user img{
    height: 100%;
    border-radius: 5px;
}
